Basically, I'm going to try and create a unified CSV file from the taxi fare data and the weather data in this file

In [133]:
import pandas as pd

In [134]:
weather = pd.read_csv('centralParkWeather.csv')

In [111]:
taxi_sample = pd.read_csv('reduced.csv')
taxi_sample.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

Note, AWND is average daily wind speed AWND = Average daily wind speed (tenths of meters per second)


    PRCP = Precipitation (tenths of mm)
    SNOW = Snowfall (mm)
    SNWD = Snow depth (mm)
    TMAX = Maximum temperature (tenths of degrees C)
    TMIN = Minimum temperature (tenths of degrees C)

So, try joining on a column with a subset of the data

In [112]:
taxi_sample.loc[0][0]

'2009-06-15 17:26:21.0000001'

create a column that converts the key datetime stamp to a date so that it can be joined with the weather data

In [113]:
def date(timestamp):
    return timestamp.split()[0]

taxi_sample['DATE'] = taxi_sample.apply(lambda x: date(x['key']), axis=1)

In [114]:
taxi_sample.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,DATE
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1,2009-06-15
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1,2010-01-05
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2,2011-08-18
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1,2012-04-21
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1,2010-03-09

In [115]:
df_join = pd.merge(taxi_sample, weather, how='left', on='DATE')

In [116]:
df_join.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,DATE,STATION,NAME,AWND,PRCP,SNOW,SNWD,TMAX,TMIN
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1,2009-06-15,USW00094728,"NY CITY CENTRAL PARK, NY US",3.13,0.50,0.0,0,72,57
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1,2010-01-05,USW00094728,"NY CITY CENTRAL PARK, NY US",9.84,0.00,0.0,0,30,20
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2,2011-08-18,USW00094728,"NY CITY CENTRAL PARK, NY US",4.92,0.07,0.0,0,83,67
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1,2012-04-21,USW00094728,"NY CITY CENTRAL PARK, NY US",4.92,0.22,0.0,0,71,54
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1,2010-03-09,USW00094728,"NY CITY CENTRAL PARK, NY US",4.47,0.00,0.0,0,61,44

In [117]:
len(df_join)

50000

In [118]:
len(taxi_sample)

50000

In [119]:
df_join.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 0 to 49999
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   key                50000 non-null  object
 1   fare_amount        50000 non-null  float64
 2   pickup_datetime    50000 non-null  object
 3   pickup_longitude   50000 non-null  float64
 4   pickup_latitude    50000 non-null  float64
 5   dropoff_longitude  50000 non-null  float64
 6   dropoff_latitude   50000 non-null  float64
 7   passenger_count    50000 non-null  int64
 8   DATE               50000 non-null  object
 9   STATION            50000 non-null  object
 10  NAME               50000 non-null  object
 11  AWND               49539 non-null  float64
 12  PRCP               50000 non-null  float64
 13  SNOW               50000 non-null  float64
 14  SNWD               50000 non-null  int64
 15  TMAX               50000 non-null  int64
 16  TMIN               50000 non-null  int64
dtypes: float64(8), int64(4), object(5)
memory usage: 6.9+ MB

In [120]:
df_join.loc[40900]

key                  2015-03-19 13:38:57.0000005
fare_amount                                   25
pickup_datetime          2015-03-19 13:38:57 UTC
pickup_longitude                        -73.9819
pickup_latitude                           40.767
dropoff_longitude                       -74.0025
dropoff_latitude                         40.7157
passenger_count                                1
DATE                                  2015-03-19
STATION                              USW00094728
NAME                 NY CITY CENTRAL PARK, NY US
AWND                                        5.82
PRCP                                           0
SNOW                                           0
SNWD                                           0
TMAX                                          43
TMIN                                          29
Name: 40900, dtype: object

drop the irrelevant columns

In [123]:
taxi_sample

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,DATE
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1,2009-06-15
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1,2010-01-05
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2,2011-08-18
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1,2012-04-21
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1,2010-03-09
...,...,...,...,...,...,...,...,...,...
49995,2013-06-12 23:25:15.0000004,15.0,2013-06-12 23:25:15 UTC,-73.999973,40.748531,-74.016899,40.705993,1,2013-06-12
49996,2015-06-22 17:19:18.0000007,7.5,2015-06-22 17:19:18 UTC,-73.984756,40.768211,-73.987366,40.760597,1,2015-06-22
49997,2011-01-30 04:53:00.00000063,6.9,2011-01-30 04:53:00 UTC,-74.002698,40.739428,-73.998108,40.759483,1,2011-01-30
49998,2012-11-06 07:09:00.00000069,4.5,2012-11-06 07:09:00 UTC,-73.946062,40.777567,-73.953450,40.779687,2,2012-11-06
49999,2010-01-13 08:13:14.0000007,10.9,2010-01-13 08:13:14 UTC,-73.932603,40.763805,-73.932603,40.763805,1,2010-01-13

In [132]:
weather.loc[369]

STATION                    USW00094728
NAME       NY CITY CENTRAL PARK, NY US
DATE                        2010-01-05
AWND                              9.84
PRCP                                 0
SNOW                                 0
SNWD                                 0
TMAX                                30
TMIN                                20
Name: 369, dtype: object

In [130]:
df_join.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,DATE,STATION,NAME,AWND,PRCP,SNOW,SNWD,TMAX,TMIN
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1,2009-06-15,USW00094728,"NY CITY CENTRAL PARK, NY US",3.13,0.50,0.0,0,72,57
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1,2010-01-05,USW00094728,"NY CITY CENTRAL PARK, NY US",9.84,0.00,0.0,0,30,20
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2,2011-08-18,USW00094728,"NY CITY CENTRAL PARK, NY US",4.92,0.07,0.0,0,83,67
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1,2012-04-21,USW00094728,"NY CITY CENTRAL PARK, NY US",4.92,0.22,0.0,0,71,54
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1,2010-03-09,USW00094728,"NY CITY CENTRAL PARK, NY US",4.47,0.00,0.0,0,61,44

In [ ]:
from datetime import datetime

date = '2009-01-05'

df = '1'

# 0 - Monday, 1 - Tuesday, etc. 

def day_of_week(date):
    return datetime.strptime(date, '%Y-%m-%d').weekday()

df[''] = df.apply(lambda x: day_of_week(x['pickup_datetime']), axis=1)

print(day_of_week(date))